<!DOCTYPE html>
<html>
<head>
   <title>Robot Base Station</title>
   <style>
      body {
         background-color:#707B7C;
      }
   </style>
</head>

<body>
   <h1>Robot commands</h1>

  <p> 
    <h1>(<a href="/forward"> Robot forward </a>)</h1>
    <h1>(<a href="/backward"> Robot backward </a>) </h1>
    <h1>(<a href="/turnLedOn"> Robot turn led on </a>)</h1>
    <h1>(<a href="/turnLedOff"> Robot turn led off </a>)</h1>
    <h1>(<a href="/blink"> Robot blink </a>)
  </p>

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>
